.u-section-1 {
  background-image: linear-gradient(#0aaabc, #89d0ca);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 712px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 712px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 50px;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 21px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  line-height: 3;
  font-weight: 700;
  color: rgb(17, 17, 17) !important;
  margin: 20px 10px 0 -10px;
}

.u-section-1 .u-shape-1 {
  width: 79px;
  height: 79px;
  margin: 87px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: none;
  margin: 20px auto 0;
  padding: 16px 48px 16px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 29px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 703px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 703px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 682px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 682px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 65px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 20px;
    margin-left: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 746px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 648px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.75rem;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 15px;
    margin-right: 15px;
  }
}